.right-body__user#right-message(data-id="#{message.id}")
  %p.right-body__user__name
    = message.user.name
  %p.right-body__user__date
    = message.created_at.strftime("%Y/%m/%d %H:%M")
  %p.right-body__user__comment
    = message.content
  = image_tag message.image.url, class: 'right-body__user__image' if message.image.present?