.contaner
  = render "./shared/left_contaner"
  .contaner__right
    .right-header
      .right-header__group
        %p.right-header__group__name 
          = @group.name
        %p.right-header__group__member 
          - @group.users.each do |user|
            = user.name
         
      = link_to edit_group_path(params[:group_id]) do
        .right-header__edit Edit
    .right-body
      = render @messages if @messages

      


    .right-footer
      .right-footer__form
        = form_for([@group,@message]) do |f|
          .right-footer__form__box
            = f.text_field :content, class: 'right-footer__form__box__text', placeholder: "input message"
            .right-footer__form__box__img
              = f.label :image do
                = fa_icon 'picture-o', class: 'image'
                = f.file_field :image, class: 'hidden'
          = f.submit "Send", class: 'right-footer__form__send'
