.contaner__left
  .left-header
    .left-header__user
      = current_user.name
    %ul.left-header__menu
      %li.left-header__menu__edit
        = link_to edit_user_path(current_user) do
          %i.fa.fa-cog
      %li.left-header__menu__new-group
        = link_to new_group_path do
          %i.fa.fa-edit
  .left-body
    - current_user.groups.each do |group|
      .left-body__group
        = link_to group_messages_path(group) do
          .left-body__group__name
            = group.name
          .left-body__group__message
            - if group.messages.last
              = group.messages.find(group.messages.last).content
            - else
              まだメッセージはありません
